html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro-Regular';
  src: url("../fonts/MyriadPro-Regular.eot"), url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Montserrat-Regular', sans-serif; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto; }

.main {
  display: flex;
  flex-direction: column;
  background: #81779d url(../img/img-1200/header-bg.png) no-repeat center/cover;
  height: 800px;
  width: 100%;
  position: relative; }
  .main__text {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .main__title {
    font-size: 82px;
    font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
    color: #fff;
    padding-top: 60px; }
  .main__real {
    font-size: 30px;
    font-family: "Lato-Regular", "Montserrat-Regular", sans-serif;
    color: #8d81ac;
    padding-top: 18px; }
  .main__for {
    font-size: 16px;
    font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
    color: #848e97;
    padding-top: 18px;
    text-transform: uppercase; }
  .main__button {
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -187px; }
    .main__button-download {
      font-size: 21px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #fff;
      background-color: #8d81ac;
      padding: 23px 63px;
      border-radius: 100px;
      outline: none;
      border: none; }
      .main__button-download:hover {
        color: #8d81ac;
        background-color: #fff;
        border: 1px solid #8d81ac; }

.header {
  height: 100px;
  width: 100%;
  background: url(../img/img-1200/navbar-bg.png) no-repeat top/cover; }
  .header__flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    padding-left: 45px; }
  .header__link {
    background: url(../img/img-1200/header-logo.png) no-repeat;
    display: block;
    width: 151px;
    height: 41px; }
    .header__link:hover {
      background: url(../img/img-1200/header-logo-hover.png) no-repeat; }
    .header__link-320 {
      display: none; }
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 60%;
    padding-left: 220px; }
    .header__nav-link {
      font-size: 16px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #8d81ac;
      text-decoration: none;
      text-transform: capitalize; }
      .header__nav-link:hover {
        color: #fff; }
  .header__button {
    padding-right: 70px; }
    .header__button-btn {
      font-size: 16px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #fff;
      background-color: #8d81ac;
      padding: 12px 35px;
      border-radius: 100px;
      display: inline-block;
      text-decoration: none;
      text-transform: capitalize; }
      .header__button-btn:hover {
        color: #8d81ac;
        background-color: #fff; }
  .header__sandwich {
    display: none;
    background-color: #27262a; }
    .header__sandwich-img {
      display: block;
      width: 26px;
      height: 21px; }
  .header__close {
    display: none;
    background-color: #27262a; }
    .header__close-img {
      display: block;
      width: 26px;
      height: 21px; }

.revolutionary {
  text-align: center; }
  .revolutionary__text {
    display: inline-block;
    padding-top: 48px;
    color: #848e97;
    font-size: 14px; }
  .revolutionary__title {
    font-size: 54px;
    font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
    color: #635c73;
    padding: 67px 0 38px;
    text-transform: uppercase; }
  .revolutionary__desc {
    font-size: 21px;
    font-family: "Lato-Regular", "Montserrat-Regular", sans-serif;
    color: #323232;
    width: 900px;
    margin: 0 auto;
    line-height: 1.2; }
  .revolutionary__nav {
    display: flex;
    justify-content: space-between;
    width: 365px;
    height: 26px;
    margin: 36px auto 70px; }
  .revolutionary__watch {
    display: flex;
    align-items: center;
    border: 1px solid #d5d5d5;
    border-radius: 3px; }
    .revolutionary__watch-btn {
      background-color: #f6f6f6;
      border-right: 1px solid #d5d5d5;
      padding: 0 9px;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center; }
    .revolutionary__watch-text {
      font-size: 11px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #333333;
      padding-left: 3px; }
    .revolutionary__watch-number {
      font-size: 9px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #333333;
      padding: 0 6px; }

.people {
  background: #4b3b4e url(../img/img-1200/people-bg.png) no-repeat center/cover;
  height: 764px;
  width: 100%; }
  .people__title {
    font-size: 48px;
    font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
    color: #fff;
    padding-top: 98px;
    text-align: center; }
  .people__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    .people__flex-box {
      font-size: 16px;
      font-family: "Lato-BoldItalic", "Montserrat-Regular", sans-serif;
      color: #fff;
      width: 319px;
      text-align: center;
      padding: 92px 0 20px 0; }
      .people__flex-box p {
        padding-top: 37px; }
    .people__flex-logo {
      height: 64px; }
  .people__text {
    font-size: 14px;
    font-family: "Lato-Regular", "Montserrat-Regular", sans-serif;
    color: rgba(162, 145, 165, 0.8);
    width: 850px;
    text-align: center;
    margin: 46px auto 0;
    position: relative; }
    .people__text::after {
      content: '';
      position: absolute;
      width: 780px;
      border-top: 2px solid rgba(162, 145, 165, 0.8);
      bottom: -16px;
      left: 36px; }

.fork {
  background: #4b3b4e url(../img/img-1200/fork-bg.png) no-repeat center/cover;
  height: 847px;
  width: 100%; }
  .fork-title {
    font-size: 48px;
    font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
    color: #fff;
    padding-top: 98px;
    text-align: center;
    padding-top: 73px; }
  .fork-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 109px; }
    .fork-flex_box {
      width: 23%;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.11); }
    .fork-flex_title {
      font-size: 24px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.06);
      height: 97px;
      text-transform: uppercase;
      padding-top: 46px; }
    .fork-flex_price {
      color: #fff;
      font-size: 60px;
      padding-top: 32px; }
    .fork-flex_per {
      font-size: 14px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #fff;
      padding-top: 24px;
      text-transform: uppercase;
      position: relative; }
      .fork-flex_per::after {
        content: '';
        position: absolute;
        width: 60px;
        border-top: 5px solid #8d81ac;
        bottom: -39px;
        left: 39%; }
    .fork-flex_disc {
      font-size: 16px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #fff;
      padding-top: 75px;
      text-transform: capitalize; }

.fork-disc_twoo {
  padding-top: 13px; }

.purchase-btn {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 16px 38px;
  border-radius: 100px;
  text-transform: uppercase;
  display: inline-block;
  margin: 68px 0 36px 0;
  cursor: pointer;
  text-decoration: none; }
  .purchase-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #7f6d78;
    font-family: 'Montserrat-Bold', sans-serif; }
  .purchase-btn_two {
    margin: 36px 0 36px 0; }

.flex-box_dark {
  background-color: rgba(0, 0, 0, 0.13); }

.flex-title_dark {
  background-color: rgba(0, 0, 0, 0.11);
  height: 111px; }

.flex-price_dark {
  font-size: 82px;
  padding-top: 15px; }

.flex-per_dark {
  padding-top: 21px; }
  .flex-per_dark::after {
    bottom: -49px; }

.flex-disc_dark {
  padding-top: 95px; }

.flex-btn_dark {
  margin-top: 81px; }

.features {
  background-color: #f4f4f4;
  padding-top: 78px;
  margin: 0 auto; }

.container-flex {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex; }

.features-flex__description {
  width: 50%;
  padding-top: 22px;
  padding-bottom: 35px; }

.features-flex__box {
  display: flex;
  padding-left: 90px; }

.features-flex__logo {
  width: 111px; }

.features-flex__text {
  width: 350px;
  padding-left: 23px; }

.features-flex__name {
  font-size: 16px;
  font-family: "Monserrat-Regular", "Montserrat-Regular", sans-serif;
  color: #323232; }

.features-flex__desc {
  font-size: 14px;
  font-family: "Monserrat-Regular", "Montserrat-Regular", sans-serif;
  color: #848e97;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 34px; }

.features-flex__picture {
  width: 50%; }

.features-flex__title {
  font-size: 42px;
  font-family: "Monserrat-Bold", "Montserrat-Regular", sans-serif;
  color: #8d81ac; }

.features-flex__img {
  margin-top: 40px;
  background: url(../img/editor-demonstration.jpg) no-repeat left/cover;
  width: 100%;
  height: 480px; }

.carousele .single-item {
  width: calc(100% - 410px);
  margin: 0 auto; }
  .carousele .single-item .user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; }
  .carousele .single-item .user-data__name {
    font-size: 24px;
    font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
    color: #635c73;
    position: relative;
    line-height: 32px;
    text-align: center; }
    .carousele .single-item .user-data__name::before {
      content: url(../img/user-pic.png);
      position: absolute;
      right: 65%;
      top: -13px; }
  .carousele .single-item .user-data__email {
    font-size: 16px;
    font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
    color: #8d81ac;
    margin-left: 298px; }
  .carousele .single-item .user-data__message {
    font-size: 20px;
    font-family: "Lato-Regular", "Montserrat-Regular", sans-serif;
    color: #333333;
    margin-top: 58px;
    line-height: 32px;
    text-align: center; }
  .carousele .single-item .violent-text {
    color: #8d81ac; }
  .carousele .single-item .user-data__time-post {
    font-size: 16px;
    font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
    color: #848e97;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 32px;
    text-align: center; }

.carousele .social-buttons {
  margin: 0 auto;
  padding: 50px 0px 68px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 67%; }
  .carousele .social-buttons::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: darkgrey;
    position: absolute;
    top: 2px; }
  .carousele .social-buttons .social-buttons__item {
    margin: 0px auto 12px;
    width: 204px;
    height: 42.5px;
    position: relative;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px; }
  .carousele .social-buttons .social-buttons__item-followers {
    font-size: 14px;
    font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
    color: #848e97;
    text-align: center;
    margin-bottom: 34px; }
  .carousele .social-buttons .button__github {
    background-color: #f3f3f3;
    color: black; }
    .carousele .social-buttons .button__github::before {
      content: url(../img/GT-icon.png);
      position: absolute;
      left: 15px;
      top: 6.5px; }
    .carousele .social-buttons .button__github:hover {
      background-color: #2b414d;
      color: #ffffff; }
    .carousele .social-buttons .button__github:hover::before {
      content: url(../img/GH-white.png);
      position: absolute;
      left: 15px;
      top: 6.5px; }
  .carousele .social-buttons .button__twitter {
    background-color: #26a6d1;
    color: #ffffff; }
    .carousele .social-buttons .button__twitter::before {
      content: url(../img/bird.png);
      position: absolute;
      left: 15px;
      top: 6.5px; }
    .carousele .social-buttons .button__twitter:hover {
      background-color: #ffffff;
      border: 1px solid #26a6d1;
      color: #26a6d1; }
    .carousele .social-buttons .button__twitter:hover::before {
      content: url(../img/bird-blue.png);
      position: absolute;
      left: 15px;
      top: 6.5px; }
  .carousele .social-buttons .button__fb {
    background-color: #3b5998;
    color: #ffffff; }
    .carousele .social-buttons .button__fb::before {
      content: url(../img/f.png);
      position: absolute;
      left: 15px;
      top: 6.5px; }
    .carousele .social-buttons .button__fb:hover {
      background-color: #fff;
      border: 1px solid #3b5998;
      color: #3b5998; }
    .carousele .social-buttons .button__fb:hover::before {
      content: url(../img/f-blue.png);
      position: absolute;
      left: 15px;
      top: 6.5px; }

.call-back {
  background-color: #f4f4f4; }

.call-back__width-w {
  height: 134px;
  display: flex;
  justify-content: space-around;
  padding-top: 46px; }
  .call-back__width-w .call-back__title {
    font-size: 29px;
    font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
    color: #635c73; }
  .call-back__width-w .form-box {
    width: 705px;
    display: flex; }
    .call-back__width-w .form-box input {
      color: #c8cbcf;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      border-radius: 21px;
      width: 44%;
      height: 42px;
      margin: 0 auto;
      padding-left: 22px;
      border: none; }
  .call-back__width-w .call-back__item-button {
    font-size: 13px;
    font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
    color: #fff;
    border-radius: 21px;
    background-color: #8d81ac;
    width: 140px;
    height: 42px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase; }
    .call-back__width-w .call-back__item-button:hover {
      background-color: #fff;
      border: 1px solid #8d81ac;
      color: #8d81ac; }

.call-back__width-m,
.call-back__width-l {
  display: none; }

.footer {
  padding-top: 65px; }
  .footer .container-flex-bottom {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .footer .footer__naming {
    padding-top: 17px;
    flex-basis: 50%; }
    .footer .footer__naming-title {
      font-size: 24px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #333333;
      line-height: 16px;
      text-transform: uppercase;
      position: relative;
      margin-left: 58px; }
      .footer .footer__naming-title::before {
        position: absolute;
        content: url(../img/footer-logo.png);
        width: 43px;
        height: 41px;
        left: -59px;
        top: -15px; }
    .footer .footer__naming .violent-text {
      color: #8d81ac; }
    .footer .footer__naming-description {
      font-size: 14px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #848e97;
      line-height: 21px;
      text-align: left;
      margin-top: 35px; }
  .footer .footer__nav {
    display: flex;
    flex-basis: 50%;
    flex-direction: column; }
    .footer .footer__nav-title {
      font-size: 16px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #323232;
      line-height: 28px;
      text-transform: capitalize;
      margin-bottom: 19.5px; }
    .footer .footer__nav-link {
      font-size: 15px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #8d81ac;
      line-height: 23px;
      text-transform: capitalize;
      text-decoration: none; }
      .footer .footer__nav-link:hover {
        text-decoration: underline;
        color: #8d81ac; }
  .footer .footer__contacts {
    flex-basis: 50%; }
    .footer .footer__contacts-phone {
      font-size: 30px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #3f3f3f;
      margin-bottom: 12.5px;
      line-height: 28px;
      text-align: left; }
    .footer .footer__contacts-time {
      font-size: 12px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #848e97;
      line-height: 28px;
      text-align: left;
      text-transform: uppercase; }
    .footer .footer__contacts-city {
      font-size: 16px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #323232;
      line-height: 28px;
      margin-bottom: 16.5px;
      margin-top: 27px; }
    .footer .footer__contacts-address {
      font-size: 14px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #848e97;
      line-height: 23px;
      text-align: left; }
  .footer .footer__info {
    display: flex;
    flex-basis: 50%;
    flex-direction: column; }
    .footer .footer__info-title {
      font-size: 16px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #323232;
      line-height: 28px;
      text-transform: capitalize;
      margin-bottom: 18px; }
    .footer .footer__info-description {
      font-size: 14px;
      font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
      color: #848e97;
      line-height: 23px; }

@media (min-width: 993px) and (max-width: 1120px) {
  .header__nav {
    padding-left: 30px; }
  .header__button {
    padding-right: 10px; }
  .features-flex___description {
    padding-bottom: 0; }
  .features-flex__box {
    display: flex;
    padding-left: 35px; }
  .features-flex__text {
    width: 65%;
    padding-left: 23px; }
  .features-flex__logo {
    width: 22%; }
  .features-flex__title {
    font-size: 38px;
    font-family: "Monserrat-Bold", "Montserrat-Regular", sans-serif;
    color: #8d81ac; } }

@media (min-width: 810px) and (max-width: 992px) {
  .main__title {
    font-size: 72px;
    padding-top: 50px; }
  .main__real {
    font-size: 24px;
    padding-top: 26px; }
  .main__for {
    font-size: 14px;
    padding-top: 20px; }
  .header {
    height: 118px; }
    .header__flex {
      height: 118px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 24px; }
    .header__nav {
      order: 3;
      width: 85%;
      padding-left: 110px; }
    .header__button {
      padding-right: 20px; }
  .revolutionary__title {
    font-size: 42px; }
  .revolutionary__desc {
    width: 664px; }
  .container-flex {
    flex-direction: column; }
  .features-flex__title {
    text-align: center;
    order: -5; }
  .features-flex__img {
    margin-left: 10%;
    margin-bottom: 20px; }
  .features-flex__picture {
    width: 90%; }
  .features-flex__description {
    width: 90%; }
  .features-flex__text {
    width: 65%; }
  .features-flex__logo {
    width: 22%; }
  .features-flex__box {
    padding-left: 45px; }
  .features-flex__desc {
    padding-bottom: 60px; }
  .people {
    height: auto; }
    .people__title {
      padding-top: 80px;
      font-size: 42px; }
    .people__flex-box {
      padding-top: 92px;
      margin-left: 10px; }
      .people__flex-box p {
        padding-top: 33px; }
    .people__flex-two {
      padding-top: 54px; }
    .people__logo {
      display: inline-block;
      padding-top: 30px; }
    .people__text {
      width: 664px; }
      .people__text::after {
        width: 699px;
        left: -21px; }
  .fork {
    height: 1308px; }
    .fork-title {
      font-size: 42px;
      padding-top: 99px; }
    .fork-flex {
      padding-top: 47px;
      flex-wrap: wrap;
      justify-content: center; }
      .fork-flex_box {
        width: 33%; }
      .fork-flex_box:nth-of-type(2) {
        margin-left: 41px; }
      .fork-flex_box:nth-of-type(3) {
        margin-top: 42px; }
      .fork-flex_box:nth-of-type(4) {
        margin-left: 41px;
        margin-top: 50px; }
  .call-back__width-m,
  .call-back__width-l {
    display: none; }
  .call-back__width-w {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center; }
    .call-back__width-w .call-back__title {
      text-align: center;
      margin-bottom: 29px; }
    .call-back__width-w .form-box {
      width: 92%;
      display: flex;
      flex-direction: row;
      margin: 0 auto 26px; }
    .call-back__width-w .call-back__item-button {
      margin: 0 auto; }
  .carousele .single-item {
    width: calc(100% - 60px);
    margin: 0 auto; }
    .carousele .single-item .user-data__name {
      position: relative;
      line-height: 32px;
      margin-left: 50%;
      text-align: left; }
      .carousele .single-item .user-data__name:before {
        position: absolute;
        right: 106%;
        top: -13px; }
    .carousele .single-item .user-data__email {
      margin-left: 371px; }
    .carousele .single-item .slick-prev {
      left: -26px; }
      [dir="rtl"] .carousele .single-item .slick-prev {
        left: auto;
        right: -26px; }
      .carousele .single-item .slick-prev:before {
        content: url(../img/Arrow-L.png); }
        [dir="rtl"] .carousele .single-item .slick-prev:before {
          content: url(../img/Arrow-R.png); }
    .carousele .single-item .slick-next {
      right: -26px; }
      [dir="rtl"] .carousele .single-item .slick-next {
        left: -26px;
        right: auto; }
      .carousele .single-item .slick-next:before {
        content: url(../img/Arrow-R.png); }
        [dir="rtl"] .carousele .single-item .slick-next:before {
          content: url(../img/Arrow-L.png); }
  .social-buttons {
    margin: 0 auto;
    padding: 50px 0px 50px;
    width: 68%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; } }

@media (min-width: 701px) and (max-width: 809px) {
  .main__title {
    font-size: 72px;
    padding-top: 50px; }
  .main__real {
    font-size: 24px;
    padding-top: 18px; }
  .main__for {
    font-size: 14px;
    padding-top: 18px; }
  .header {
    height: 118px; }
    .header__flex {
      height: 118px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 24px; }
    .header__nav {
      order: 3;
      width: 85%;
      padding-left: 110px; }
  .revolutionary__title {
    font-size: 42px; }
  .revolutionary__desc {
    font-size: 18px;
    width: 650px; }
  .container-flex {
    flex-direction: column; }
  .features-flex__picture {
    width: 90%; }
  .features-flex__description {
    width: 90%; }
  .features-flex__text {
    width: 65%; }
  .features-flex__logo {
    width: 22%; }
  .features-flex__box {
    padding-left: 20px; }
  .features-flex__desc {
    padding-bottom: 60px; }
  .people {
    height: auto; }
    .people__title {
      font-size: 38px;
      padding-top: 68px; }
    .people__flex-box {
      padding-top: 55px; }
      .people__flex-box p {
        padding-top: 20px; }
    .people__text {
      width: 650px;
      margin: 26px auto 0;
      font-size: 14px; }
      .people__text::after {
        width: 600px;
        bottom: -16px;
        left: 36px; }
  .fork {
    height: 1308px; }
    .fork-title {
      font-size: 40px;
      padding-top: 99px; }
    .fork-flex {
      padding-top: 47px;
      flex-wrap: wrap;
      justify-content: center; }
      .fork-flex_box {
        width: 33%; }
        .fork-flex_box:nth-of-type(2) {
          margin-left: 41px; }
        .fork-flex_box:nth-of-type(3) {
          margin-top: 42px; }
        .fork-flex_box:nth-of-type(4) {
          margin-left: 41px;
          margin-top: 50px; }
  .container-flex-bottom {
    height: 469px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: left;
    padding: 66px 39px 44px 30px; }
  .footer__naming {
    margin-bottom: 80px; }
  .footer__info {
    margin-bottom: 22px; }
  .footer__contacts {
    margin-bottom: 22px; }
  .call-back__width-m,
  .call-back__width-l {
    display: none; }
  .call-back__width-w {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center; }
    .call-back__width-w .call-back__title {
      text-align: center;
      margin-bottom: 29px; }
    .call-back__width-w .form-box {
      width: 92%;
      display: flex;
      flex-direction: row;
      margin: 0 auto 26px; }
    .call-back__width-w .call-back__item-button {
      margin: 0 auto; }
  .social-buttons {
    margin: 0 auto;
    padding: 50px 0px 50px;
    width: 68%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; }
  .carousele .single-item {
    width: calc(100% - 70px);
    margin: 0 auto; }
    .carousele .single-item .user-data__name {
      position: relative;
      line-height: 32px;
      margin-left: 50%;
      text-align: left; }
      .carousele .single-item .user-data__name:before {
        position: absolute;
        right: 106%;
        top: -13px; }
    .carousele .single-item .user-data__email {
      margin-left: 217px; }
    .carousele .single-item .slick-prev {
      left: -26px; }
      [dir="rtl"] .carousele .single-item .slick-prev {
        left: auto;
        right: -26px; }
      .carousele .single-item .slick-prev:before {
        content: url(../img/Arrow-L.png); }
        [dir="rtl"] .carousele .single-item .slick-prev:before {
          content: url(../img/Arrow-R.png); }
    .carousele .single-item .slick-next {
      right: -26px; }
      [dir="rtl"] .carousele .single-item .slick-next {
        left: -26px;
        right: auto; }
      .carousele .single-item .slick-next:before {
        content: url(../img/Arrow-R.png); }
        [dir="rtl"] .carousele .single-item .slick-next:before {
          content: url(../img/Arrow-L.png); } }

@media (min-width: 481px) and (max-width: 700px) {
  .main__title {
    font-size: 52px;
    padding-top: 50px; }
  .main__real {
    font-size: 18px;
    padding-top: 18px; }
  .main__for {
    font-size: 12px;
    padding-top: 14px; }
  .header {
    height: 118px; }
    .header__flex {
      height: 118px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 24px; }
    .header__nav {
      order: 3;
      width: 85%;
      padding-left: 50px; }
      .header__nav-link {
        font-size: 12px; }
    .header__button {
      padding-right: 40px; }
      .header__button-btn {
        padding: 10px 25px;
        border-radius: 100px;
        font-size: 12px; }
  .revolutionary__title {
    font-size: 32px; }
  .revolutionary__desc {
    font-size: 14px;
    width: 100%;
    padding: 0 5%; }
  .container-flex {
    flex-direction: column; }
  .features-flex__title {
    text-align: center;
    order: -5; }
  .features-flex__img {
    margin-left: 10%;
    margin-bottom: 20px; }
  .features-flex__picture {
    width: 90%; }
  .features-flex__description {
    width: 90%; }
  .features-flex__text {
    width: 65%; }
  .features-flex__logo {
    width: 22%; }
  .features-flex__box {
    padding-left: 20px; }
  .features-flex__desc {
    padding-bottom: 60px; }
  .people {
    height: auto; }
    .people__title {
      font-size: 36px;
      padding-top: 42px; }
    .people__flex-box {
      padding-top: 55px;
      width: 40%; }
      .people__flex-box p {
        padding-top: 20px; }
    .people__text {
      width: 100%;
      margin: 26px auto 0;
      padding: 0 5%;
      font-size: 12px; }
      .people__text::after {
        width: 100%;
        bottom: -16px;
        left: 0; }
  .fork {
    height: 100%;
    padding-bottom: 25px; }
    .fork-title {
      font-size: 30px;
      padding-top: 99px; }
    .fork-flex {
      padding-top: 47px;
      flex-wrap: wrap;
      justify-content: center; }
      .fork-flex_box {
        width: 45%; }
        .fork-flex_box:nth-of-type(2) {
          margin-left: 3%; }
        .fork-flex_box:nth-of-type(3) {
          margin-top: 42px; }
        .fork-flex_box:nth-of-type(4) {
          margin-left: 3%;
          margin-top: 50px; }
    .fork-subscription-pricing {
      height: 1308px; }
  .container-flex-bottom {
    height: 469px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: left;
    padding: 66px 39px 44px 30px; }
  .footer__naming {
    margin-bottom: 80px; }
  .footer__info {
    margin-bottom: 22px; }
  .footer__contacts {
    margin-bottom: 22px; }
  .call-back__width-w,
  .call-back__width-l {
    display: none; }
  .call-back__width-m {
    height: 220px;
    padding: 26px 15px 32px;
    display: flex;
    flex-direction: column; }
    .call-back__width-m .call-back__title {
      font-size: 30px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #323232;
      margin: 0px auto;
      line-height: 38px;
      text-align: center; }
    .call-back__width-m .form-box {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 29px; }
      .call-back__width-m .form-box input {
        color: #c8cbcf;
        font-size: 14px;
        line-height: 17px;
        text-align: left;
        border-radius: 21px;
        width: 60%;
        height: 42px;
        margin: 0 auto;
        padding-left: 22px;
        border: none; }
      .call-back__width-m .form-box .call-back__item-button {
        font-size: 13px;
        font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
        color: #fff;
        border-radius: 21px;
        background-color: #8d81ac;
        width: 140px;
        height: 42px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase; }
        .call-back__width-m .form-box .call-back__item-button:hover {
          background-color: #fff;
          border: 1px solid #8d81ac;
          color: #8d81ac; }
  .carousele .social-buttons {
    margin: 0 auto;
    padding: 50px 90px 59px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; }
    .carousele .social-buttons::before {
      display: none; }
  .carousele .single-item {
    width: calc(100% - 48px);
    margin: 0 auto; }
    .carousele .single-item .user-data {
      padding-top: 52px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      position: relative; }
      .carousele .single-item .user-data::after {
        content: url(../img/user-pic.png);
        position: absolute;
        right: 59%;
        top: 31px; }
      .carousele .single-item .user-data__name {
        position: relative;
        margin-left: 135px; }
        .carousele .single-item .user-data__name::before {
          display: none; }
      .carousele .single-item .user-data__email {
        color: #8d81ac;
        font-size: 16px;
        margin-left: 254px; }
      .carousele .single-item .user-data__message {
        font-family: 'Lato-Regular', sans-serif;
        color: #333333;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        margin-top: 67px; }
      .carousele .single-item .user-data__time_post {
        margin-top: 16px;
        margin-bottom: 35px;
        color: #848e97;
        font-size: 16px;
        line-height: 32px;
        text-align: center; }
    .carousele .single-item .slick-prev,
    .carousele .single-item .slick-next {
      top: 62%; }
    .carousele .single-item .slick-prev {
      left: -26px; }
      [dir="rtl"] .carousele .single-item .slick-prev {
        left: auto;
        right: -26px; }
      .carousele .single-item .slick-prev:before {
        content: url(../img/Arrow-L.png); }
        [dir="rtl"] .carousele .single-item .slick-prev:before {
          content: url(../img/Arrow-R.png); }
    .carousele .single-item .slick-next {
      right: -26px; }
      [dir="rtl"] .carousele .single-item .slick-next {
        left: -26px;
        right: auto; }
      .carousele .single-item .slick-next:before {
        content: url(../img/Arrow-R.png); }
        [dir="rtl"] .carousele .single-item .slick-next:before {
          content: url(../img/Arrow-L.png); } }

@media (min-width: 401px) and (max-width: 480px) {
  .main__title {
    font-size: 54px;
    padding-top: 101px; }
  .main__real {
    font-size: 20px;
    padding-top: 35px;
    line-height: 24px; }
  .main__for {
    font-size: 16px;
    padding-top: 23px; }
  .header {
    height: 103px;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 13px; }
    .header__logo {
      padding-left: 15px; }
    .header__nav {
      display: none;
      position: absolute;
      top: 103px;
      padding-left: 0;
      text-align: left;
      width: 100%; }
      .header__nav li {
        height: 120px;
        background-color: #333333;
        border-bottom: 2px solid #3b3b3b; }
      .header__nav-link {
        display: inline-block;
        font-size: 32px;
        color: #fff;
        font-family: 'Montserrat-Regular', sans-serif;
        margin: 33px 0;
        padding: 11px 0 0 24px;
        height: 54px; }
        .header__nav-link:hover {
          color: #8d81ac;
          border-left: 4px solid #8d81ac; }
    .header__button {
      padding-right: 0; }
      .header__button-btn {
        padding: 15px 26px;
        border-radius: 100px;
        font-size: 17px;
        margin-right: 0; }
    .header__sandwich {
      display: block;
      padding-right: 17px; }
    .header__close {
      padding-right: 17px; }
  .revolutionary__title {
    font-size: 42px;
    line-height: 1.5;
    padding: 72px 0 54px; }
  .revolutionary__desc {
    font-size: 16px;
    width: 100%; }
  .revolutionary__nav {
    margin: 38px auto 78px; }
  .container-flex {
    flex-direction: column; }
  .features-flex__title {
    text-align: center;
    justify-content: center;
    order: -5; }
  .features-flex__img {
    margin-left: 10%;
    margin-bottom: 20px; }
  .features-flex__picture {
    width: 90%; }
  .features-flex__description {
    width: 90%; }
  .features-flex__text {
    width: 65%; }
  .features-flex__logo {
    width: 22%; }
  .features-flex__box {
    padding-left: 20px; }
  .features-flex__desc {
    padding-bottom: 60px; }
  .people {
    height: auto; }
    .people__title {
      font-size: 42px;
      padding: 78px 0 30px;
      line-height: 44px; }
    .people__flex-box {
      padding-top: 67px;
      width: 70%; }
      .people__flex-box p {
        padding-top: 37px;
        font-size: 16px;
        line-height: 1.5; }
    .people__text {
      display: none; }
  .fork {
    height: 100px;
    padding-bottom: 25px; }
    .fork-title {
      font-size: 42px;
      padding: 143px 0 43px;
      line-height: 44px;
      position: relative; }
      .fork-title::before {
        content: '';
        position: absolute;
        width: 350px;
        border-top: 1px solid rgba(162, 145, 165, 0.8);
        top: 61px;
        left: 36px; }
    .fork-flex {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0; }
      .fork-flex_box {
        width: 56%;
        margin-top: 14px; }
    .fork-subscription-pricing {
      height: auto;
      padding-bottom: 96px; }
  .container-flex-bottom {
    padding-right: 35px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 36px; }
  .footer__nav,
  .footer__info,
  .footer__contacts {
    margin-top: 36px; }
  .call-back__width-w,
  .call-back__width-l {
    display: none; }
  .call-back__width-m {
    height: 220px;
    padding: 26px 15px 32px;
    display: flex;
    flex-direction: column; }
    .call-back__width-m .call-back__title {
      font-size: 30px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #323232;
      margin: 0px auto;
      line-height: 38px;
      text-align: center; }
    .call-back__width-m .form-box {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 29px; }
      .call-back__width-m .form-box input {
        color: #c8cbcf;
        font-size: 14px;
        line-height: 17px;
        text-align: left;
        border-radius: 21px;
        width: 60%;
        height: 42px;
        margin: 0 auto;
        padding-left: 22px;
        border: none; }
      .call-back__width-m .form-box .call-back__item-button {
        font-size: 13px;
        font-family: "Montserrat-Regular", "Montserrat-Regular", sans-serif;
        color: #fff;
        border-radius: 21px;
        background-color: #8d81ac;
        width: 140px;
        height: 42px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase; }
        .call-back__width-m .form-box .call-back__item-button:hover {
          background-color: #fff;
          border: 1px solid #8d81ac;
          color: #8d81ac; }
  .carousele .social-buttons::before {
    display: none; }
  .carousele .single-item {
    width: calc(100% - 45px);
    margin: 0 auto; }
    .carousele .single-item .user-data {
      padding-top: 52px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      position: relative; }
      .carousele .single-item .user-data::after {
        content: url(../img/user-pic.png);
        position: absolute;
        right: 63%;
        top: 31px; }
      .carousele .single-item .user-data__name {
        position: relative;
        margin-left: 135px; }
        .carousele .single-item .user-data__name::before {
          display: none; }
      .carousele .single-item .user-data__email {
        margin-left: 159px; }
      .carousele .single-item .user-data__message {
        line-height: 32px;
        text-align: center;
        margin-top: 58px; }
      .carousele .single-item .user-data__time_post {
        margin-top: 16px;
        margin-bottom: 35px;
        line-height: 32px;
        text-align: center; }
    .carousele .single-item .slick-prev,
    .carousele .single-item .slick-next {
      top: 64%; }
    .carousele .single-item .slick-prev {
      left: -23px; }
      [dir="rtl"] .carousele .single-item .slick-prev {
        left: auto;
        right: -23px; }
      .carousele .single-item .slick-prev:before {
        content: url(../img/Arrow-L.png); }
        [dir="rtl"] .carousele .single-item .slick-prev:before {
          content: url(../img/Arrow-R.png); }
    .carousele .single-item .slick-next {
      right: -23px; }
      [dir="rtl"] .carousele .single-item .slick-next {
        left: -23px;
        right: auto; }
      .carousele .single-item .slick-next:before {
        content: url(../img/Arrow-R.png); }
        [dir="rtl"] .carousele .single-item .slick-next:before {
          content: url(../img/Arrow-L.png); } }

@media (min-width: 320px) and (max-width: 400px) {
  .main {
    height: 718px; }
    .main__title {
      font-size: 48px;
      padding-top: 43px; }
    .main__real {
      font-size: 18px;
      padding: 20px 21px 0;
      line-height: 24px; }
    .main__for {
      font-size: 14px;
      padding-top: 20px; }
    .main__button {
      margin-left: -148px; }
      .main__button-download {
        padding: 15px 31px;
        font-size: 18px; }
  .header {
    height: 103px;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 6px; }
    .header__logo {
      padding-left: 15px; }
      .header__logo-link {
        display: none; }
        .header__logo-link-320 {
          display: block;
          background: url(../img/header-logo320.png) no-repeat;
          width: 43px;
          height: 41px; }
          .header__logo-link-320:hover {
            background: url(../img/header-logo320-hover.png) no-repeat; }
    .header__sandwich {
      display: block;
      padding-right: 17px; }
    .header__close {
      padding-right: 17px; }
    .header__nav {
      display: none;
      position: absolute;
      top: 103px;
      padding-left: 0;
      text-align: left;
      width: 100%; }
      .header__nav li {
        height: 120px;
        background-color: #333333;
        border-bottom: 2px solid #3b3b3b; }
      .header__nav-link {
        display: inline-block;
        font-size: 32px;
        color: #fff;
        font-family: 'Montserrat-Regular', sans-serif;
        margin: 33px 0;
        padding: 11px 0 0 24px;
        height: 54px; }
        .header__nav-link:hover {
          color: #8d81ac;
          border-left: 4px solid #8d81ac; }
    .header__button {
      padding-right: 0; }
      .header__button-btn {
        padding: 12px 24px;
        border-radius: 100px;
        font-size: 15px;
        margin-right: 0; }
  .revolutionary__text {
    padding-top: 29px; }
  .revolutionary__title {
    font-size: 26px;
    line-height: 30px;
    padding: 72px 0 24px; }
  .revolutionary__desc {
    font-size: 14px;
    width: 265px;
    line-height: 14px;
    margin: 0 auto; }
  .revolutionary__nav {
    flex-wrap: wrap;
    margin: 15px auto 88px;
    width: 252px;
    justify-content: space-around; }
  .revolutionary__watch {
    margin-top: 20px;
    height: 23px; }
    .revolutionary__watch-btn {
      padding: 0 8px; }
    .revolutionary__watch-text {
      font-size: 7px;
      padding-left: 2px;
      padding-top: 5px; }
  .container-flex {
    flex-direction: column;
    padding-top: 29px; }
  .features-flex__title {
    text-align: center;
    order: -5;
    font-size: 28px;
    width: 70%; }
  .features-flex__img {
    margin-left: 10%;
    margin-bottom: 20px; }
  .features-flex__picture {
    width: 90%; }
  .features-flex__description {
    width: 90%; }
  .features-flex__text {
    width: 100%;
    text-align: center; }
  .features-flex__box {
    padding-left: 20px;
    flex-direction: column;
    justify-content: center; }
  .features-flex__desc {
    padding-bottom: 60px; }
  .features-flex__logo {
    text-align: center;
    margin: 0 auto 29px; }
  .people {
    height: auto; }
    .people__title {
      font-size: 36px;
      padding: 60px 0 4px;
      line-height: 35px; }
    .people__flex-box {
      padding-top: 45px;
      width: 80%; }
      .people__flex-box p {
        padding-top: 37px;
        font-size: 16px;
        line-height: 24px; }
    .people__text {
      display: none; }
  .fork {
    height: 100%;
    padding-bottom: 25px; }
    .fork-title {
      font-size: 28px;
      padding: 117px 0 39px;
      line-height: 30px;
      width: 90%;
      margin: 0 auto;
      position: relative; }
      .fork-title::before {
        content: '';
        position: absolute;
        width: 280px;
        border-top: 2px solid rgba(162, 145, 165, 0.8);
        top: 71px; }
    .fork-flex {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0; }
      .fork-flex_box {
        width: 90%;
        margin-top: 14px; }
    .fork-subscription-pricing {
      height: auto;
      padding-bottom: 96px; }
  .container-flex-bottom {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    height: 100%; }
  .footer__naming-title {
    margin-left: 0px !important; }
    .footer__naming-title::before {
      display: none; }
  .footer__info,
  .footer__contacts {
    margin-top: 36px; }
  .call-back__width-m,
  .call-back__width-w {
    display: none; }
  .call-back__width-l {
    height: 100%;
    padding: 30px 15px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f4f4f4; }
    .call-back__width-l .call-back__title {
      font-size: 24px;
      font-family: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
      color: #323232;
      margin: 0px auto 0px;
      line-height: 45px;
      text-align: center; }
    .call-back__width-l .form-box {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .call-back__width-l .form-box .call-back__item-button {
        border-radius: 21px;
        background-color: #8d81ac;
        width: 140px;
        height: 42px;
        color: #fff;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        margin: 15px auto 42px; }
      .call-back__width-l .form-box input {
        color: #c8cbcf;
        font-size: 14px;
        line-height: 17px;
        text-align: left;
        border-radius: 21px;
        width: 290px;
        height: 42px;
        margin: 15px auto 0px;
        padding-left: 22px; }
  .carousele .social-buttons::before {
    display: none; }
  .carousele .single-item {
    width: calc(100% - 33px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .carousele .single-item .user-data {
      padding-top: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      position: relative; }
      .carousele .single-item .user-data__name {
        position: relative;
        line-height: 32px;
        text-align: center; }
        .carousele .single-item .user-data__name:before {
          position: absolute;
          right: 37%;
          top: -107px; }
      .carousele .single-item .user-data__email {
        margin: 0px auto 23px; }
      .carousele .single-item .user-data__message {
        line-height: 32px;
        text-align: center;
        margin-top: 0px; }
      .carousele .single-item .user-data__time_post {
        margin-top: 16px;
        margin-bottom: 35px;
        line-height: 32px;
        text-align: center; }
  .carousele .slick-prev,
  .carousele .slick-next {
    top: 54%; }
  .carousele .slick-prev {
    left: -20px; }
    [dir="rtl"] .carousele .slick-prev {
      left: auto;
      right: -20px; }
    .carousele .slick-prev:before {
      content: url(../img/Arrow-L.png); }
      [dir="rtl"] .carousele .slick-prev:before {
        content: url(../img/Arrow-R.png); }
  .carousele .slick-next {
    right: -20px; }
    [dir="rtl"] .carousele .slick-next {
      left: -20px;
      right: auto; }
    .carousele .slick-next:before {
      content: url(../img/Arrow-R.png); }
      [dir="rtl"] .carousele .slick-next:before {
        content: url(../img/Arrow-L.png); } }
