@import "_reset.scss";
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot'),
        url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$colorPurple: #8d81ac;
$colorWhite: #fff;
$colorGrey: #848e97;
$colorViolet: #635c73;
$colorDark: #323232;

@mixin font($size,$family,$color) {
	font-size: $size;
	font-family: $family, 'Montserrat-Regular', sans-serif;
	color: $color;
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    background: #81779d url(../img/img-1200/header-bg.png) no-repeat center/cover;
    height: 800px;
    width: 100%;
    position: relative;
    &__text {
    	display: flex;
    	flex-direction: column;
    	text-align: center;
    }
	&__title {
		@include font(82px,'Montserrat-Bold',$colorWhite);
    	padding-top: 60px;
	}
	&__real {
		@include font(30px,'Lato-Regular',$colorPurple);
    	padding-top: 18px;
	}
	&__for {
		@include font(16px,'Montserrat-Regular',$colorGrey);
    	padding-top: 18px;
        text-transform: uppercase;
	}
	&__button {
    	position: absolute;
        top: 95%;
        left: 50%;
        margin-left: -187px;
        &-download {
        	@include font(21px,'Montserrat-Bold',$colorWhite);
    		background-color: $colorPurple;
    		padding: 23px 63px;
    		border-radius: 100px;
    		outline: none;
    		border: none;
    		&:hover {
    			color: $colorPurple;
    			background-color: $colorWhite;
    			border: 1px solid $colorPurple;
			}
		}
	}
}

.header {
    height: 100px;
    width: 100%;
    background: url(../img/img-1200/navbar-bg.png) no-repeat top/cover;
    &__flex {
    	height: 100px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    }
    &__logo {
		padding-left: 45px;
	}
	&__link {
    	background: url(../img/img-1200/header-logo.png) no-repeat;
    	display: block;
    	width: 151px;
    	height: 41px;
    	&:hover {
    		background: url(../img/img-1200/header-logo-hover.png) no-repeat;
		}
        &-320 {
            display: none;
        }
	}
	&__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 60%;
        padding-left: 220px;
        &-link {
        	@include font(16px,'Montserrat-Bold',$colorPurple);
            text-decoration: none;
            text-transform: capitalize;
            &:hover {
             color: $colorWhite;
            }
        }
    }
    &__button {
        padding-right: 70px;
        &-btn {
        	@include font(16px,'Montserrat-Bold',$colorWhite);
            background-color: $colorPurple;
            padding: 12px 35px;
            border-radius: 100px;
            display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            &:hover {
                color: $colorPurple;
                background-color: $colorWhite;
            }
        }
    }
    &__sandwich {
        display: none;
        background-color: #27262a;
        &-img {
            display: block;
            width: 26px;
            height: 21px;
        }
    }
    &__close {
        display: none;
        background-color: #27262a;
        &-img {
           display: block;
            width: 26px;
            height: 21px;
        }
    }
}

.revolutionary {
    text-align: center;
    &__text {
    	display: inline-block;
    	padding-top: 48px;
    	color: $colorGrey;
    	font-size: 14px;
	}
	&__title {
		@include font(54px,'Montserrat-Bold',$colorViolet);
    	padding: 67px 0 38px;
        text-transform: uppercase;
	}
	&__desc {
		@include font(21px,'Lato-Regular',$colorDark);
    	width: 900px;
    	margin: 0 auto;
    	line-height: 1.2;
	}
    &__nav{
        display: flex;
        justify-content: space-between;
        width: 365px;
        height: 26px;
        margin: 36px auto 70px;
    }
    &__watch {
        display: flex;
        align-items: center;
        border: 1px solid #d5d5d5;
        border-radius: 3px;
        &-btn {
        	background-color: #f6f6f6;
        	border-right: 1px solid #d5d5d5;
        	padding: 0 9px;
        	height: 100%;
        	display: flex;
        	flex-direction: row;
        	align-items: center;
    	}
    	&-text {
    		@include font(11px,'Montserrat-Bold',#333333);
    		padding-left: 3px;
    	}
		&-number {
			@include font(9px,'Montserrat-Bold',#333333);
        	padding: 0 6px;
        }
    }
}
 
.people{
	background: #4b3b4e url(../img/img-1200/people-bg.png) no-repeat center/cover;
    height: 764px;
    width: 100%;
	&__title{
		@include font(48px,'Montserrat-Bold',$colorWhite);
    	padding-top: 98px;
    	text-align: center;
	}
	&__flex {
    	display: flex;
        flex-wrap: wrap;
    	align-items: center;
    	justify-content: space-around;
    	
    	&-box {
    		@include font(16px,'Lato-BoldItalic',$colorWhite);
    		width: 319px;
    		text-align: center;
            padding: 92px 0 20px 0;
            & p {
    			padding-top: 37px;
			}
		}
		&-logo {
    		height: 64px;
		}
		
	}
	&__text {
		@include font(14px,'Lato-Regular',rgba(162, 145, 165, 0.8));
    	width: 850px;
    	text-align: center;
    	margin: 46px auto 0;
    	position: relative;
    	&::after {
    		content: '';
    		position: absolute;
    		width: 780px;
    		border-top: 2px solid rgba(162, 145, 165, 0.8);
    		bottom: -16px;
    		left: 36px;
		}
	}
}


.fork{
	background: #4b3b4e url(../img/img-1200/fork-bg.png) no-repeat center/cover;
    height: 847px; 
    width: 100%;
	&-title {
		@include font(48px,'Montserrat-Bold',$colorWhite);
    	padding-top: 98px;
    	text-align: center;
    	padding-top: 73px;
	}
	&-flex {
    	display: flex;
    	align-items: center;
    	justify-content: space-around;
    	padding-top: 109px;
    	&_box {
    		width: 23%;
    		text-align: center;
    		background-color:  rgba(255, 255, 255, 0.11);
		}
		&_title {
			@include font(24px,'Montserrat-Regular',$colorWhite);
    		background-color:  rgba(255, 255, 255, 0.06);
    		height: 97px;
    		text-transform: uppercase;
    		padding-top: 46px;
		}
		&_price {
    		color: $colorWhite;
    		font-size: 60px;
    		padding-top: 32px;
		}
		&_per {
			@include font(14px,'Montserrat-Regular',$colorWhite);
    		padding-top: 24px;
    		text-transform: uppercase;
    		position: relative;
    		&::after {
    			content: '';
    			position: absolute;
    			width: 60px;
    			border-top: 5px solid $colorPurple;
    			bottom: -39px;
    			left: 39%;
			}
		}
		&_disc {
			@include font(16px,'Montserrat-Regular',$colorWhite);
    		padding-top: 75px;
    		text-transform: capitalize;
		}
	}
}

.fork-disc_twoo {
    padding-top: 13px;
}
.purchase-btn {
    color: $colorWhite;
    background-color:  rgba(255, 255, 255, 0.15);
    padding: 16px 38px;
    border-radius: 100px;
    text-transform: uppercase;
    display: inline-block;
    margin: 68px 0 36px 0;
    cursor: pointer;
    text-decoration: none;
    &:hover {
    	background-color:  rgba(255, 255, 255, 0.7);
    	color:  #7f6d78;
    	font-family: 'Montserrat-Bold', sans-serif;
	}
	&_two {
    	margin: 36px 0 36px 0;
	}
}

.flex-box_dark {
    background-color:  rgba(0, 0, 0, 0.13);
}
.flex-title_dark {
    background-color:  rgba(0, 0, 0, 0.11);
    height: 111px;
}
.flex-price_dark {
    font-size: 82px;
    padding-top: 15px;
}
.flex-per_dark {
    padding-top: 21px;
    &::after {
    	bottom: -49px;
	}
}

.flex-disc_dark {
    padding-top: 95px;
}
.flex-btn_dark {
    margin-top: 81px;
}
.features {
	background-color: #f4f4f4;
	padding-top: 78px;
	margin: 0 auto;
}
.container-flex{
	width: 100%;
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
}
.features {
	&-flex {
		&__description {
			width: 50%;
			padding-top: 22px;
			padding-bottom: 35px;
		}
			&__box {
				display: flex;
				padding-left: 90px;
			}
			&__logo {
				width: 111px;
			}
			&__text {
				width: 350px;
				padding-left: 23px;
			}
			&__name {
				@include font(16px, 'Monserrat-Regular', $colorDark);
			}
			&__desc {
				@include font(14px, 'Monserrat-Regular', $colorGrey);
				line-height: 20px;
				padding-top: 20px;
				padding-bottom: 34px;
			}

		&__picture {
			width: 50%;
		}
			&__title {
				@include font(42px, 'Monserrat-Bold', #8d81ac);
			}
			&__img {
				margin-top: 40px;
				background: url(../img/editor-demonstration.jpg) no-repeat left/cover;
				width: 100%;
				height: 480px;
			}
	}
}
.carousele {
	.single-item {
		width: calc(100% - 410px);
		margin: 0 auto;

		.user-data {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;
		}
		.user-data__name {
			@include font(24px, 'Montserrat-Bold', $colorViolet);
			position: relative;
			line-height: 32px;
			text-align: center;
			&::before {
				content: url(../img/user-pic.png);
				position: absolute;
				right: 65%;
				top: -13px;
			}
		}
		.user-data__email {
			@include font(16px, 'Montserrat-Regular', $colorPurple);
			margin-left: 298px;
		}

		.user-data__message {
			@include font(20px, 'Lato-Regular', #333333);
			margin-top: 58px;
			line-height: 32px;
			text-align: center;
		}

		.violent-text {
			color: $colorPurple;
		}

		.user-data__time-post {
			@include font(16px, 'Montserrat-Regular', $colorGrey);
			margin-top: 20px;
			margin-bottom: 40px;
			line-height: 32px;
			text-align: center;
		}
	}
	.social-buttons {
		margin: 0 auto;
		padding: 50px 0px 68px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		justify-content: space-around;
		position: relative;
		width: 67%;
		&::before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: darkgrey;
			position: absolute;
			top: 2px;
		}
		.social-buttons__item{
			margin: 0px auto 12px;
			width: 204px;
			height: 42.5px;
			position: relative;
			font-size: 21px;
			line-height: 32px;
			text-align: center;
			border-radius: 4px;
		}
		.social-buttons__item-followers{
			@include font(14px, 'Montserrat-Regular', $colorGrey);
			text-align: center;
			margin-bottom: 34px;
		}
		.button__github {
			background-color: #f3f3f3;
			color: black;

			&::before {
				content: url(../img/GT-icon.png);
				position: absolute;
				left: 15px;
				top: 6.5px;
			}

			&:hover {
				background-color: #2b414d;
				color: #ffffff;
			}
			&:hover::before{
				content: url(../img/GH-white.png);
				position: absolute;
				left: 15px;
				top: 6.5px;
			}
		}
		.button__twitter{
			background-color: #26a6d1;
			color: #ffffff;

			&::before {
				content: url(../img/bird.png);
				position: absolute;
				left: 15px;
				top: 6.5px;
		}
			&:hover {
				background-color: #ffffff;
				border: 1px solid #26a6d1;
				color: #26a6d1;
			}
			&:hover::before{
				content: url(../img/bird-blue.png);
				position: absolute;
				left: 15px;
				top: 6.5px;
			}
		}
		.button__fb {
			background-color: #3b5998;
			color: #ffffff;
			&::before {
				content: url(../img/f.png);
				position: absolute;
				left: 15px;
				top: 6.5px;
			}
			&:hover {
				background-color: #fff;
				border: 1px solid #3b5998;
				color: #3b5998;
			}
			&:hover::before{
				content: url(../img/f-blue.png);
				position: absolute;
				left: 15px;
				top: 6.5px;
			}
		}
	}
}
	.call-back{
	background-color: #f4f4f4;
}
	.call-back__width-w{
	height: 134px;
	display: flex;
	justify-content: space-around;
	padding-top: 46px;
	.call-back__title{
		@include font(29px, 'Montserrat-Bold', $colorViolet);
	}
	.form-box {
		width: 705px;
		display: flex;

		input {
			color: #c8cbcf;
			font-size: 14px;
			line-height: 17px;
			text-align: left;
			border-radius: 21px;
			width: 44%;
			height: 42px;
			margin: 0 auto;
			padding-left: 22px;
			border: none;
		}
	}
		.call-back__item-button{
			@include font(13px, 'Montserrat-Regular',$colorWhite);
			border-radius: 21px;
			background-color:  $colorPurple;
			width: 140px;
			height: 42px;
			line-height: 17px;
			text-align: center;
			text-transform: uppercase;
			&:hover{
				background-color: #fff;
				border: 1px solid $colorPurple;
				color: $colorPurple;
			}
		}

}
	.call-back__width-m,
	.call-back__width-l{display: none;}
	.footer{
	padding-top: 65px;

	.container-flex-bottom{
		width: 100%;
		max-width: 1200px;
		padding: 0 10px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.footer__naming{
		padding-top: 17px;
		flex-basis: 50%;
		&-title {
			@include font(24px, 'Montserrat-Regular', #333333);
			line-height: 16px;
			text-transform: uppercase;
			position: relative;
			margin-left: 58px;
			&::before {
				position: absolute;
				content: url(../img/footer-logo.png);
				width: 43px;
				height: 41px;
				left: -59px;
				top: -15px;
			}
		}
		.violent-text {
			color:  $colorPurple;
		}
		&-description{
			@include font(14px, 'Montserrat-Regular',$colorGrey);
			line-height: 21px;
			text-align: left;
			margin-top: 35px;
		}
	}
	.footer__nav{
		display: flex;
		flex-basis: 50%;
		flex-direction: column;

		&-title {
			@include font(16px, 'Montserrat-Regular', $colorDark);
			line-height: 28px;
			text-transform: capitalize;
			margin-bottom: 19.5px;
		}
		&-link {
			@include font(15px, 'Montserrat-Regular', $colorPurple);
			line-height: 23px;
			text-transform: capitalize;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				color: $colorPurple;
			}
		}
	}
	.footer__contacts{
		flex-basis: 50%;

		&-phone {
			@include font(30px, 'Montserrat-Bold', #3f3f3f);
			margin-bottom:  12.5px;
			line-height: 28px;
			text-align: left;
		}
		&-time{
			@include font(12px, 'Montserrat-Regular', $colorGrey);
			line-height: 28px;
			text-align: left;
			text-transform: uppercase;
	}
		&-city{
			@include font(16px, 'Montserrat-Regular', $colorDark);
			line-height: 28px;
			margin-bottom: 16.5px;
			margin-top: 27px;
		}
		&-address{
			@include font(14px, 'Montserrat-Regular', $colorGrey);
			line-height: 23px;
			text-align: left;
		}
	}
	.footer__info{
		display: flex;
		flex-basis: 50%;
		flex-direction: column;
		&-title {
			@include font(16px, 'Montserrat-Regular', $colorDark);
			line-height: 28px;
			text-transform: capitalize;
			margin-bottom:  18px;
		}
		&-description {
			@include font(14px, 'Montserrat-Regular', $colorGrey);
			line-height: 23px;
		}
	}
}

@media (min-width: 993px) and  (max-width: 1120px) {
    .header {
    	&__nav {
        	padding-left: 30px;
    	}
    	&__button{
        	padding-right: 10px;
    	}
    }
    
    .features {
		&-flex {
			&___description {
				padding-bottom: 0;
			}
			&__box {
				display: flex;
				padding-left: 35px;
			}
			&__text {
				width: 65%;
				padding-left: 23px;
			}
			&__logo {
				width: 22%;
			}
			&__title {
				@include font(38px, 'Monserrat-Bold', #8d81ac);
			}
		}
	}
}
@media (min-width: 810px) and (max-width: 992px) {
	.main {
		&__title {
			font-size: 72px;
			padding-top: 50px;
		}

		&__real {
			font-size: 24px;
			padding-top: 26px;
		}

		&__for {
			font-size: 14px;
			padding-top: 20px;
		}
	}
	.header {
		height: 118px;

		&__flex {
			height: 118px;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 24px;
		}

		&__nav {
			order: 3;
			width: 85%;
			padding-left: 110px;
		}

		&__button {
			padding-right: 20px;
		}
	}

	.revolutionary {
		&__title {
			font-size: 42px;
		}

		&__desc {
			width: 664px;
		}
	}
	.container-flex {
		flex-direction: column;
	}
	.features {
		&-flex {
			&__title {
				text-align: center;
				order: -5;
			}

			&__img {
				margin-left: 10%;
				margin-bottom: 20px;
			}

			&__picture {
				width: 90%;
			}

			&__description {
				width: 90%;
			}

			&__text {
				width: 65%;
			}

			&__logo {
				width: 22%;
			}

			&__box {
				padding-left: 45px;
			}

			&__desc {
				padding-bottom: 60px;
			}
		}
	}

	.people {
		height: auto;

		&__title {
			padding-top: 80px;
			font-size: 42px;
		}

		&__flex {
			&-box {
				padding-top: 92px;
				margin-left: 10px;

				& p {
					padding-top: 33px;
				}
			}

			&-two {
				padding-top: 54px;
			}
		}

		&__logo {
			display: inline-block;
			padding-top: 30px;
		}

		&__text {
			width: 664px;

			&::after {
				width: 699px;
				left: -21px;
			}
		}

	}

	.fork {
		height: 1308px;

		&-title {
			font-size: 42px;
			padding-top: 99px;
		}

		&-flex {
			padding-top: 47px;
			flex-wrap: wrap;
			justify-content: center;

			&_box {
				width: 33%;
			}

			&_box:nth-of-type(2) {
				margin-left: 41px;
			}

			&_box:nth-of-type(3) {
				margin-top: 42px;
			}

			&_box:nth-of-type(4) {
				margin-left: 41px;
				margin-top: 50px;
			}

		}
	}
	.call-back__width-m,
	.call-back__width-l {
		display: none;
	}
	.call-back__width-w {
		height: 220px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-top: 26px;
		padding-left: 16px;
		padding-right: 16px;
		justify-content: center;

		.call-back__title {
			text-align: center;
			margin-bottom: 29px;
		}

		.form-box {
			width: 92%;
			display: flex;
			flex-direction: row;
			margin: 0 auto 26px;
		}

		.call-back__item-button {
			margin: 0 auto;
		}
	}
	.carousele {
		.single-item {
			width: calc(100% - 60px);
			margin: 0 auto;
			.user-data__name {
				position: relative;
				line-height: 32px;
				margin-left: 50%;
				text-align: left;

				&:before {
					position: absolute;
					right: 106%;
					top: -13px;
				}
			}
			.user-data__email{
				margin-left: 371px;
			}
			.slick-prev {
				left: -26px;

				[dir="rtl"] & {
					left: auto;
					right: -26px;
				}

				&:before {
					content: url(../img/Arrow-L.png);

					[dir="rtl"] & {
						content: url(../img/Arrow-R.png);
					}
				}
			}

			.slick-next {
				right: -26px;

				[dir="rtl"] & {
					left: -26px;
					right: auto;
				}

				&:before {
					content: url(../img/Arrow-R.png);

					[dir="rtl"] & {
						content: url(../img/Arrow-L.png);
					}
				}
			}

		}
	}
	.social-buttons {
		margin: 0 auto;
		padding: 50px 0px 50px;
		width: 68%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		justify-content: space-around;
		position: relative;
	}
}
@media (min-width: 701px) and (max-width: 809px) {
	.main {
		&__title {
			font-size: 72px;
			padding-top: 50px;
		}

		&__real {
			font-size: 24px;
			padding-top: 18px;
		}

		&__for {
			font-size: 14px;
			padding-top: 18px;
		}
	}
	.header {
		height: 118px;

		&__flex {
			height: 118px;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 24px;
		}

		&__nav {
			order: 3;
			width: 85%;
			padding-left: 110px;
		}
	}
	.revolutionary {

		&__title {
			font-size: 42px;
		}

		&__desc {
			font-size: 18px;
			width: 650px;
		}
	}
	.container-flex {
		flex-direction: column;
	}
	.features {
		&-flex {
			&__picture {
				width: 90%;
			}

			&__description {
				width: 90%;
			}

			&__text {
				width: 65%;
			}

			&__logo {
				width: 22%;
			}

			&__box {
				padding-left: 20px;
			}

			&__desc {
				padding-bottom: 60px;
			}
		}
	}
	.people {
		height: auto;

		&__title {
			font-size: 38px;
			padding-top: 68px;
		}

		&__flex {
			&-box {
				padding-top: 55px;

				& p {
					padding-top: 20px;
				}
			}
		}

		&__text {
			width: 650px;
			margin: 26px auto 0;
			font-size: 14px;

			&::after {
				width: 600px;
				bottom: -16px;
				left: 36px;
			}
		}
	}
	.fork {
		height: 1308px;

		&-title {
			font-size: 40px;
			padding-top: 99px;
		}

		&-flex {
			padding-top: 47px;
			flex-wrap: wrap;
			justify-content: center;

			&_box {
				width: 33%;

				&:nth-of-type(2) {
					margin-left: 41px;
				}

				&:nth-of-type(3) {
					margin-top: 42px;
				}

				&:nth-of-type(4) {
					margin-left: 41px;
					margin-top: 50px;
				}
			}
		}
	}
	.container-flex-bottom {
		height: 469px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		justify-content: left;
		padding: 66px 39px 44px 30px;
	}
	.footer__naming {
		margin-bottom: 80px;
	}
	.footer__info {
		margin-bottom: 22px;
	}
	.footer__contacts {
		margin-bottom: 22px;
	}
	.call-back__width-m,
	.call-back__width-l {
		display: none;
	}
	.call-back__width-w {
		height: 220px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-top: 26px;
		padding-left: 16px;
		padding-right: 16px;
		justify-content: center;

		.call-back__title {
			text-align: center;
			margin-bottom: 29px;
		}

		.form-box {
			width: 92%;
			display: flex;
			flex-direction: row;
			margin: 0 auto 26px;
		}

		.call-back__item-button {
			margin: 0 auto;
		}
	}
	.social-buttons {
		margin: 0 auto;
		padding: 50px 0px 50px;
		width: 68%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		justify-content: space-around;
		position: relative;
	}
	.carousele {
		.single-item {
			width: calc(100% - 70px);
			margin: 0 auto;
			.user-data__name {
				position: relative;
				line-height: 32px;
				margin-left: 50%;
				text-align: left;

				&:before {
					position: absolute;
					right: 106%;
					top: -13px;
				}
			}
			.user-data__email{
				margin-left: 217px;
			}
			.slick-prev {
				left: -26px;

				[dir="rtl"] & {
					left: auto;
					right: -26px;
				}

				&:before {
					content: url(../img/Arrow-L.png);

					[dir="rtl"] & {
						content: url(../img/Arrow-R.png);
					}
				}
			}

			.slick-next {
				right: -26px;

				[dir="rtl"] & {
					left: -26px;
					right: auto;
				}

				&:before {
					content: url(../img/Arrow-R.png);

					[dir="rtl"] & {
						content: url(../img/Arrow-L.png);
					}
				}
			}
		}
	}
}
	@media (min-width: 481px) and (max-width: 700px) {
		.main {
			&__title {
				font-size: 52px;
				padding-top: 50px;
			}

			&__real {
				font-size: 18px;
				padding-top: 18px;
			}

			&__for {
				font-size: 12px;
				padding-top: 14px;
			}
		}
		.header {
			height: 118px;

			&__flex {
				height: 118px;
				flex-wrap: wrap;
				justify-content: space-between;
				padding-top: 24px;
			}

			&__nav {
				order: 3;
				width: 85%;
				padding-left: 50px;

				&-link {
					font-size: 12px;
				}
			}

			&__button {
				padding-right: 40px;

				&-btn {
					padding: 10px 25px;
					border-radius: 100px;
					font-size: 12px;
				}
			}
		}
		.revolutionary {
			&__title {
				font-size: 32px;
			}

			&__desc {
				font-size: 14px;
				width: 100%;
				padding: 0 5%;
			}

		}
		.container-flex {
			flex-direction: column;
		}
		.features {
			&-flex {
				&__title {
					text-align: center;
					order: -5;
				}

				&__img {
					margin-left: 10%;
					margin-bottom: 20px;
				}

				&__picture {
					width: 90%;
				}

				&__description {
					width: 90%;
				}

				&__text {
					width: 65%;
				}

				&__logo {
					width: 22%;
				}

				&__box {
					padding-left: 20px;
				}

				&__desc {
					padding-bottom: 60px;
				}
			}
		}
		.people {
			height: auto;

			&__title {
				font-size: 36px;
				padding-top: 42px;
			}

			&__flex {
				&-box {
					padding-top: 55px;
					width: 40%;

					& p {
						padding-top: 20px;
					}
				}
			}

			&__text {
				width: 100%;
				margin: 26px auto 0;
				padding: 0 5%;
				font-size: 12px;

				&::after {
					width: 100%;
					bottom: -16px;
					left: 0;
				}
			}

		}
		.fork {
			height: 100%;
			padding-bottom: 25px;
			&-title {
				font-size: 30px;
				padding-top: 99px;
			}

			&-flex {
				padding-top: 47px;
				flex-wrap: wrap;
				justify-content: center;

				&_box {
					width: 45%;

					&:nth-of-type(2) {
						margin-left: 3%;
					}

					&:nth-of-type(3) {
						margin-top: 42px;
					}

					&:nth-of-type(4) {
						margin-left: 3%;
						margin-top: 50px;
					}
				}
			}

			&-subscription-pricing {
				height: 1308px;
			}
		}
		.container-flex-bottom {
			height: 469px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			justify-content: left;
			padding: 66px 39px 44px 30px;
		}
		.footer__naming {
			margin-bottom: 80px;
		}
		.footer__info {
			margin-bottom: 22px;
		}
		.footer__contacts {
			margin-bottom: 22px;
		}

		.call-back__width-w,
		.call-back__width-l {
			display: none;
		}
		.call-back__width-m {
			height: 220px;
			padding: 26px 15px 32px;
			display: flex;
			flex-direction: column;

			.call-back__title {
				@include font(30px, 'Montserrat-Bold', $colorDark);
				margin: 0px auto;
				line-height: 38px;
				text-align: center;
			}

			.form-box {
				width: 100%;
				display: flex;
				justify-content: space-around;
				margin-top: 29px;

				input {
					color: #c8cbcf;
					font-size: 14px;
					line-height: 17px;
					text-align: left;
					border-radius: 21px;
					width: 60%;
					height: 42px;
					margin: 0 auto;
					padding-left: 22px;
					border: none;
				}

				.call-back__item-button {
					@include font(13px, 'Montserrat-Regular', $colorWhite);
					border-radius: 21px;
					background-color: $colorPurple;
					width: 140px;
					height: 42px;
					line-height: 17px;
					text-align: center;
					text-transform: uppercase;

					&:hover {
						background-color: #fff;
						border: 1px solid $colorPurple;
						color: $colorPurple;
					}

				}
			}
		}
		.carousele {
			.social-buttons {
				margin: 0 auto;
				padding: 50px 90px 59px;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				justify-content: space-around;
				position: relative;

				&::before {
					display: none
				}
			}

			.single-item {
				width: calc(100% - 48px);
				margin: 0 auto;

				.user-data {
					padding-top: 52px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex-wrap: wrap;
					position: relative;

					&::after {
						content: url(../img/user-pic.png);
						position: absolute;
						right: 59%;
						top: 31px;
					}

					&__name {
						position: relative;
						margin-left: 135px;
						&::before {
							display: none;
						}
					}

					&__email {
						color: $colorPurple;
						font-size: 16px;
						margin-left: 254px;
					}

					&__message {
						font-family: 'Lato-Regular', sans-serif;
						color: #333333;
						font-size: 20px;
						line-height: 32px;
						text-align: center;
						margin-top: 67px;
					}

					&__time_post {
						margin-top: 16px;
						margin-bottom: 35px;
						color: $colorGrey;
						font-size: 16px;
						line-height: 32px;
						text-align: center;
					}
				}

				.slick-prev,
				.slick-next {
					top: 62%;
				}

				.slick-prev {
					left: -26px;

					[dir="rtl"] & {
						left: auto;
						right: -26px;
					}

					&:before {
						content: url(../img/Arrow-L.png);

						[dir="rtl"] & {
							content: url(../img/Arrow-R.png);
						}
					}
				}

				.slick-next {
					right: -26px;

					[dir="rtl"] & {
						left: -26px;
						right: auto;
					}

					&:before {
						content: url(../img/Arrow-R.png);

						[dir="rtl"] & {
							content: url(../img/Arrow-L.png);
						}
					}
				}

			}
		}
	}
	@media (min-width: 401px) and (max-width: 480px) {
		.main {
			&__title {
				font-size: 54px;
				padding-top: 101px;
			}

			&__real {
				font-size: 20px;
				padding-top: 35px;
				line-height: 24px;
			}

			&__for {
				font-size: 16px;
				padding-top: 23px;
			}
		}
		.header {
			height: 103px;
			flex-wrap: nowrap;
			justify-content: space-between;
			padding-top: 13px;

			&__logo {
				padding-left: 15px;
			}

			&__nav {
				display: none;
				position: absolute;
				top: 103px;
				padding-left: 0;
				text-align: left;
				width: 100%;

				& li {
					height: 120px;
					background-color: #333333;
					border-bottom: 2px solid #3b3b3b;

				}

				&-link {
					display: inline-block;
					font-size: 32px;
					color: $colorWhite;
					font-family: 'Montserrat-Regular', sans-serif;
					margin: 33px 0;
					padding: 11px 0 0 24px;
					height: 54px;

					&:hover {
						color: $colorPurple;
						border-left: 4px solid $colorPurple;
					}
				}
			}

			&__button {
				padding-right: 0;

				&-btn {
					padding: 15px 26px;
					border-radius: 100px;
					font-size: 17px;
					margin-right: 0;
				}
			}

			&__sandwich {
				display: block;
				padding-right: 17px;
			}

			&__close {
				padding-right: 17px;
			}
		}
		.revolutionary {
			&__title {
				font-size: 42px;
				line-height: 1.5;
				padding: 72px 0 54px;
			}

			&__desc {
				font-size: 16px;
				width: 100%;
			}

			&__nav {
				margin: 38px auto 78px;
			}
		}
		.container-flex {
			flex-direction: column;
		}
		.features {
			&-flex {
				&__title {
					text-align: center;
					justify-content: center;
					order: -5;
				}

				&__img {
					margin-left: 10%;
					margin-bottom: 20px;
				}

				&__picture {
					width: 90%;
				}

				&__description {
					width: 90%;
				}

				&__text {
					width: 65%;
				}

				&__logo {
					width: 22%;
				}

				&__box {
					padding-left: 20px;
				}

				&__desc {
					padding-bottom: 60px;
				}
			}
		}

		.people {
			height: auto;

			&__title {
				font-size: 42px;
				padding: 78px 0 30px;
				line-height: 44px;
			}

			&__flex {
				&-box {
					padding-top: 67px;
					width: 70%;

					& p {
						padding-top: 37px;
						font-size: 16px;
						line-height: 1.5;
					}
				}
			}

			&__text {
				display: none;
			}

		}
		.fork {
			height: 100px;
			padding-bottom: 25px;
			&-title {
				font-size: 42px;
				padding: 143px 0 43px;
				line-height: 44px;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					width: 350px;
					border-top: 1px solid rgba(162, 145, 165, 0.8);
					top: 61px;
					left: 36px;
				}
			}

			&-flex {
				flex-wrap: wrap;
				justify-content: center;
				padding-top: 0;

				&_box {
					width: 56%;
					margin-top: 14px;
				}
			}

			&-subscription-pricing {
				height: auto;
				padding-bottom: 96px;
			}
		}
		.container-flex-bottom {
			padding-right: 35px;
			padding-top: 64px;
			display: flex;
			flex-direction: column;
			height: 100%;
			margin-bottom: 36px;
		}
		.footer__nav,
		.footer__info,
		.footer__contacts {
			margin-top: 36px;
		}


		.call-back__width-w,
		.call-back__width-l {
			display: none;
		}
		.call-back__width-m {
			height: 220px;
			padding: 26px 15px 32px;
			display: flex;
			flex-direction: column;

			.call-back__title {
				@include font(30px, 'Montserrat-Bold', $colorDark);
				margin: 0px auto;
				line-height: 38px;
				text-align: center;
			}

			.form-box {
				width: 100%;
				display: flex;
				justify-content: space-around;
				margin-top: 29px;

				input {
					color: #c8cbcf;
					font-size: 14px;
					line-height: 17px;
					text-align: left;
					border-radius: 21px;
					width: 60%;
					height: 42px;
					margin: 0 auto;
					padding-left: 22px;
					border: none;
				}

				.call-back__item-button {
					@include font(13px, 'Montserrat-Regular', $colorWhite);
					border-radius: 21px;
					background-color: $colorPurple;
					width: 140px;
					height: 42px;
					line-height: 17px;
					text-align: center;
					text-transform: uppercase;

					&:hover {
						background-color: #fff;
						border: 1px solid $colorPurple;
						color: $colorPurple;
					}

				}
			}
		}
		.carousele {
			.social-buttons::before {
				display: none
			}

			.single-item {
				width: calc(100% - 45px);
				margin: 0 auto;

				.user-data {
					padding-top: 52px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex-wrap: wrap;
					position: relative;

					&::after {
						content: url(../img/user-pic.png);
						position: absolute;
						right: 63%;
						top: 31px;
					}

					&__name {
						position: relative;
						margin-left: 135px;
						&::before {
							display: none;
						}
					}

					&__email {
						margin-left: 159px;

					}

					&__message {
						line-height: 32px;
						text-align: center;
						margin-top: 58px;
					}

					&__time_post {
						margin-top: 16px;
						margin-bottom: 35px;
						line-height: 32px;
						text-align: center;
					}
				}

				.slick-prev,
				.slick-next {
					top: 64%;
				}

				.slick-prev {
					left: -23px;

					[dir="rtl"] & {
						left: auto;
						right: -23px;
					}

					&:before {
						content: url(../img/Arrow-L.png);

						[dir="rtl"] & {
							content: url(../img/Arrow-R.png);
						}
					}
				}

				.slick-next {
					right: -23px;

					[dir="rtl"] & {
						left: -23px;
						right: auto;
					}

					&:before {
						content: url(../img/Arrow-R.png);

						[dir="rtl"] & {
							content: url(../img/Arrow-L.png);
						}
					}
				}
			}
		}
	}
	@media (min-width: 320px) and (max-width: 400px) {
		.main {
			height: 718px;

			&__title {
				font-size: 48px;
				padding-top: 43px;
			}

			&__real {
				font-size: 18px;
				padding: 20px 21px 0;
				line-height: 24px;
			}

			&__for {
				font-size: 14px;
				padding-top: 20px;
			}

			&__button {
				margin-left: -148px;

				&-download {
					padding: 15px 31px;
					font-size: 18px;
				}
			}
		}
		.header {
			height: 103px;
			flex-wrap: nowrap;
			justify-content: space-between;
			padding-top: 6px;

			&__logo {
				padding-left: 15px;

				&-link {
					display: none;

					&-320 {
						display: block;
						background: url(../img/header-logo320.png) no-repeat;
						width: 43px;
						height: 41px;

						&:hover {
							background: url(../img/header-logo320-hover.png) no-repeat;
						}
					}
				}
			}

			&__sandwich {
				display: block;
				padding-right: 17px;
			}

			&__close {
				padding-right: 17px;
			}

			&__nav {
				display: none;
				position: absolute;
				top: 103px;
				padding-left: 0;
				text-align: left;
				width: 100%;

				& li {
					height: 120px;
					background-color: #333333;
					border-bottom: 2px solid #3b3b3b;
				}

				&-link {
					display: inline-block;
					font-size: 32px;
					color: $colorWhite;
					font-family: 'Montserrat-Regular', sans-serif;
					margin: 33px 0;
					padding: 11px 0 0 24px;
					height: 54px;

					&:hover {
						color: $colorPurple;
						border-left: 4px solid $colorPurple;
					}
				}
			}

			&__button {
				padding-right: 0;

				&-btn {
					padding: 12px 24px;
					border-radius: 100px;
					font-size: 15px;
					margin-right: 0;
				}
			}
		}

		.revolutionary {
			&__text {
				padding-top: 29px;
			}

			&__title {
				font-size: 26px;
				line-height: 30px;
				padding: 72px 0 24px;
			}

			&__desc {
				font-size: 14px;
				width: 265px;
				line-height: 14px;
				margin: 0 auto;
			}

			&__nav {
				flex-wrap: wrap;
				margin: 15px auto 88px;
				width: 252px;
				justify-content: space-around;
			}

			&__watch {
				margin-top: 20px;
				height: 23px;

				&-btn {
					padding: 0 8px;
				}

				&-text {
					font-size: 7px;
					padding-left: 2px;
					padding-top: 5px;
				}
			}
		}
		.container-flex {
			flex-direction: column;
			padding-top: 29px;
		}
		.features {
			&-flex {
				&__title {
					text-align: center;
					order: -5;
					font-size: 28px;
					width: 70%;
				}

				&__img {
					margin-left: 10%;
					margin-bottom: 20px;
				}

				&__picture {
					width: 90%;
				}

				&__description {
					width: 90%;
				}

				&__text {
					width: 100%;
					text-align: center;
				}

				&__box {
					padding-left: 20px;
					flex-direction: column;
					justify-content: center;
				}

				&__desc {
					padding-bottom: 60px;
				}

				&__logo {
					text-align: center;
					margin: 0 auto 29px;
				}
			}
		}
		.people {
			height: auto;

			&__title {
				font-size: 36px;
				padding: 60px 0 4px;
				line-height: 35px;
			}

			&__flex {
				&-box {
					padding-top: 45px;
					width: 80%;

					& p {
						padding-top: 37px;
						font-size: 16px;
						line-height: 24px;
					}
				}
			}

			&__text {
				display: none;
			}

		}
		.fork {
			height: 100%;
			padding-bottom: 25px;
			&-title {
				font-size: 28px;
				padding: 117px 0 39px;
				line-height: 30px;
				width: 90%;
				margin: 0 auto;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					width: 280px;
					border-top: 2px solid rgba(162, 145, 165, 0.8);
					top: 71px;
				}
			}

			&-flex {
				flex-wrap: wrap;
				justify-content: center;
				padding-top: 0;

				&_box {
					width: 90%;
					margin-top: 14px;
				}
			}

			&-subscription-pricing {
				height: auto;
				padding-bottom: 96px;
			}
		}

		.container-flex-bottom {
			padding-top: 76px;
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		.footer__naming {
			&-title {
				margin-left: 0px !important;

				&::before {
					display: none;
				}
			}
		}
		.footer__info,
		.footer__contacts {
			margin-top: 36px;
		}

		.call-back__width-m,
		.call-back__width-w {
			display: none;
		}
		.call-back__width-l {
			height: 100%;
			padding: 30px 15px 42px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			background-color: #f4f4f4;

			.call-back__title {
				@include font(24px, 'Montserrat-Bold', $colorDark);
				margin: 0px auto 0px;
				line-height: 45px;
				text-align: center;
			}

			.form-box {
				width: 100%;
				display: flex;
				flex-direction: column;

				.call-back__item-button {
					border-radius: 21px;
					background-color: $colorPurple;
					width: 140px;
					height: 42px;
					color: $colorWhite;
					font-size: 13px;
					line-height: 17px;
					text-align: center;
					text-transform: uppercase;
					margin: 15px auto 42px;
				}

				input {
					color: #c8cbcf;
					font-size: 14px;
					line-height: 17px;
					text-align: left;
					border-radius: 21px;
					width: 290px;
					height: 42px;
					margin: 15px auto 0px;
					padding-left: 22px;
				}
			}
		}
		.carousele {
			.social-buttons::before{
				display: none;
			}
			.single-item {
				width: calc(100% - 33px);
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.user-data {
					padding-top: 120px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex-wrap: wrap;
					position: relative;


					&__name {
						position: relative;
						line-height: 32px;
						text-align: center;
						&:before{
							position: absolute;
							right: 37%;
							top: -107px;
						}
					}
						&__email {
							margin: 0px auto 23px;
						}

						&__message {
							line-height: 32px;
							text-align: center;
							margin-top: 0px;
						}

						&__time_post {
							margin-top: 16px;
							margin-bottom: 35px;
							line-height: 32px;
							text-align: center;
						}
					}
				}
				.slick-prev,
				.slick-next {
					top: 54%;
				}

				.slick-prev {
					left: -20px;
					[dir="rtl"] & {
						left: auto;
						right: -20px;
					}
					&:before {
						content: url(../img/Arrow-L.png);

						[dir="rtl"] & {
							content: url(../img/Arrow-R.png);
						}
					}
				}
				.slick-next {
					right: -20px;

					[dir="rtl"] & {
						left: -20px;
						right: auto;
					}

					&:before {
						content: url(../img/Arrow-R.png);

						[dir="rtl"] & {
							content: url(../img/Arrow-L.png);
						}
					}
				}
			}


			}




